@media print {
  .container {
    width: 100%;
    max-width: none;
    padding: 0;
    background-color: #fff;
    color: #000;
  }

  .innerContainer {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .grid {
    display: block; /* you might want to stack them instead of flex for printing */
  }

  .card {
    width: 100%; /* Adjust width for print */
    page-break-after: always; /* Avoid breaking content across pages */
    border: none;
    margin-bottom: 0.5rem; /* Adjust margin for print */
    padding: 0.25rem; /* Adjust padding for print */
  }

  .title, .projectTitle, .name, .description {
    page-break-inside: avoid; /* Avoid breaking titles/descriptions across pages */
  }

  .button {
    display: none; /* Hide buttons */
  }
}

.container {
  background-color: white;
  min-height: 100vh;
  color: black;
}

.innerContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
}

.title {
  font-size: 65px;
  font-family: 'Epilogue' sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
}

/* .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

.card {
  flex: 0 0 calc(50% - 1rem);
  background-color: white;
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 1.5rem;
  box-sizing: border-box;
}

.projectTitle {
  font-size: 37px;
  font-weight: 600;
  font-family: 'Epilogue' sans-serif;
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
}

.name {
  font-size: 26px;
  font-family: 'Epilogue' sans-serif;
  font-weight: bold;
  font-weight: 600;
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.image {
  width: 100%;
  height: auto;
}

.description {
  font-size: 18px;
  font-family: 'Tenor Sans' sans-serif;
  color: black;
}